{% extends "global/Page.html" %}
{% load staticfiles otree %}
{% load otree static %}


{% block title %}
    Pregunta #2
{% endblock %}

{% block content %}

<style>
    .otree-title{
        font-size: 50px;
     }
</style>

<script>
    function btn(i){
        document.getElementById("rta_2").value = i;
    }
</script>

    <img  class="img" src = "{% static 'CTB/opc1segunda.PNG' %}"/>
    <button type="button" class="btn btn-outline-success" onclick="btn(1)">Seleccionar 1</button>
    <br>
    <img  class="img" src = "{% static 'CTB/opc2segunda.PNG' %}"/>
    <button type="button" class="btn btn-outline-success" onclick="btn(2)">Seleccionar 2</button>
    <br>
    <img  class="img" src = "{% static 'CTB/opc3segunda.PNG' %}"/>
    <button type="button" class="btn btn-outline-success" onclick="btn(3)">Seleccionar 3</button>
    <br>
    <img  class="img" src = "{% static 'CTB/opc4segunda.PNG' %}"/>
    <button type="button" class="btn btn-outline-success" onclick="btn(4)">Seleccionar 4</button>

    <input type="hidden" name="rta_2" id="rta_2" />
    <br>
    {% next_button %}

{% endblock %}